.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.card {
  max-width: 60%;
  padding: 3rem;
  border-radius: 20px;
  background-color: var(--blue);
  color: var(--darkest);
  text-align: left;
}
