.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.nav-container {
  display: flex;
  gap: 1rem;
}

.nav-item {
  font-family: "Amarante", serif;
  text-decoration: none;
  font-size: 2rem;
  color: var(--blue);
}
