/* Hero */
.hero-container {
  background-color: var(--mint);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 5rem 2rem 4rem 2rem;
  font-weight: 400;
}

h1 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
}

.job-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.links {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.hero-link:hover {
  border-radius: 100%;
  transform: scale(1.02);
  transition: 0.3s ease;
}

.hero-description {
  width: 40%;
  text-align: left;
}

.hero-image {
  display: flex;
  width: fit-content;
  position: absolute;
  top: 11%;
  right: 15%;
}

.pfp {
  width: 28rem;
  z-index: 999;
}

.profile-pic {
  width: 24rem;
  position: absolute;
  top: 8.66%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1425px) {
  .hero-text {
    width: 45%;
  }

  .hero-description {
    width: 60%;
  }
  h1 {
    font-size: 2.2rem;
  }

  .hero-image {
    width: 30%;
    min-width: 25rem;
    top: 16%;
    right: 11%;
  }

  .profile-pic {
    width: 22rem;
  }

  .pfp {
    width: 30%;
    min-width: 25rem;
  }

  .link-img {
    width: 3.5rem;
  }
}

@media screen and (max-width: 1051px) {
  .hero-text {
    padding: 3rem 1rem;
    width: 50%;
  }

  .hero-description {
    width: 80%;
  }

  .hero-image {
    top: 18%;
    right: 10.8%;
    width: 30%;
    min-width: 20rem;
  }

  .pfp {
    width: 30%;
    min-width: 20rem;
  }

  .profile-pic {
    width: 17rem;
  }
}

@media screen and (max-width: 431px) {
  .hero-container {
    width: 100%;
  }
  .hero-section {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  .hero-text {
    width: 100%;
    padding: 0 0 95% 0;
  }

  .hero-description {
    width: 70%;
  }

  .hero-image {
    top: 83%;
    width: 40%;
    min-width: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .links {
    gap: 1rem;
  }
}

@media screen and (max-width: 391px) {
  .hero-container {
    width: 100%;
  }
  .hero-section {
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
    padding: 0 0 95% 0;
  }

  .hero-description {
    width: 70%;
  }

  .hero-image {
    top: 85%;
    width: 40%;
    min-width: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .links {
    gap: 1rem;
  }
}

@media screen and (max-width: 376px) {
  .hero-image {
    top: 105%;
    width: 40%;
    min-width: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
