:root {
  --gradient: linear-gradient(
    127deg,
    #e2a4ff,
    #ffc1df,
    #59ffdc,
    #5bdfff,
    #e2a4ff,
    #ffc1df,
    #59ffdc,
    #5bdfff
  );
}

.tarot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shadow-wrap {
  width: 29.5625rem;
  height: 45.25rem;
  position: absolute;
  background: var(--gradient);
  background-size: 400%;
  animation: colorCycle 25s linear infinite;
  z-index: 1;
  filter: blur(15px);
}

.layer {
  width: 29.5625rem;
  height: 45.25rem;
  background-color: var(--darkest);
  position: absolute;
  z-index: 2;
}

.tarot-card {
  width: 29.5625rem;
  height: 45.25rem;
  background: var(--gradient);
  background-size: 400%;
  mask-image: url(../assets/tarot.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  animation: colorCycle 25s linear infinite;
  z-index: 3;
}

.btn-container {
  display: flex;
  gap: 1.2rem;
  position: absolute;
  top: 74%;
  color: var(--gradient);
  z-index: 4;
}

.tarot-btn:hover {
  border-radius: 100%;
  box-shadow: 0 0 10px 5px white;
  transition: 0.3s ease;
}

@keyframes colorCycle {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 550px) {
  .tarot-card,
  .shadow-wrap,
  .layer {
    width: 20rem;
    height: calc(20rem * (45.25 / 29.5625));
  }

  .btn-container {
    top: 73%;
  }

  .tarot-btn {
    width: 2.5rem;
  }
}
