@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --darkest: #0c002e;
  --blue: #5bdfff;
  --seafoam: #59ffdc;
  --green: #5dffad;
  --light-pink: #ffc1df;
  --bold-pink: #ff57b6;
  --purple: #e2a4ff;

  color-scheme: light dark;
  color: var(--seafoam);
  background-color: var(--darkest);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
